* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #f1efea;
}

ul li {
  list-style-type: none;
  display: inline;
  padding-right: 25px;
}

ul li a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.logo {
  width: 15%;
  padding: 1% 0 0 2%;
}

nav {
  width: 45%;
  height: 85px;
  margin-top: 10px;

}

nav ul {
  margin-top: 35px;
}


nav ul li {
  list-style-type: none;
  padding-right: 50px;
}

nav ul li:last-of-type {
  border: 2px solid #DD6E51;
  border-radius: 10px;
  text-align: center;
  padding: 10px 35px;
}

nav ul li a {
  color: #FA8D70;
  font: 600 1em park lane, serif;
}


#masthead {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 5%;
}



#masthead button {
  background: #37171D;
  border-radius: 10px;
  width: 15%;
  height: 65px;
  color: #fff;
  border: none;
  font: 900 1.2em azo-web-sans, sans-serif;
  text-transform: capitalize;
  margin-top: 15px;
  cursor: pointer;
}

#masthead h1 {
  font: 900 3em azo-sans-web, sans-serif;
  margin: 0 0 10px 0;
  text-align: left;
  color: #5D321E;
}

#masthead h2 {
  font: 900 2.5em park lane, sans-serif;
  margin: 0 0 10px 0;
  text-align: left;
  color: #F87C5A;
  background: rgba(248, 124, 90, 0.1);
  width: 40%;
}


#features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #B85D33;
  padding: 5% 0;
}

#features h3 {
  font: 900 1.2em azo-sans-web, sans-serif;
  margin: 0 0 10px 0;
  text-align: center;
  color: #F8F1C7;
}

#features p {
  font: 200 1em park lane, serif;
  line-height: 1.8em;
  text-align: left;
  color: #F8F1C7;
}

#community,
#book-reviews,
#authors-hub {
  width: 20%;
}


#about-content {
  width: 100%;
  height: 400px;
  background: #37171D;
  padding-top: 160px;
}

#about {
  width: 65%;
  height: 275px;
  margin: 0 auto;
}

#about h1 {
  font: 900 3em azo-sans-web, sans-serif;
  margin: 0 0 20px 0;
  text-align: left;
  width: 25%;
  color: #F8F1C7;
}



#about p {
  font: 200 1.6em park lane, serif;
  line-height: 2em;
  text-align: left;
  color: #F8F1C7;
}


#contact {
  width: 100%;
  padding: 175px 0;
}

#contact form {
  width: 65%;
  margin: 0 auto;
  padding: 2%;
}

#contact h1 {
  font: 900 3em azo-sans-web, sans-serif;
  margin: 0 0 50px 0;
  text-align: left;
}


#contact input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 50px;
  margin-bottom: 35px;
}

#contact textarea {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #ccc;
  font: 400 0.9em azo-web-sans, sans-serif;
  width: 100%;
  height: 50px;
  margin: 35px 0;
}


#contact input type[type=''] {}

#contact input::placeholder,
#contact textarea::placeholder {
  font: 400 0.9em azo-web-sans, sans-serif;
}


#contact button {
  background: #37171D;
  border-radius: 10px;
  width: 35%;
  height: 75px;
  color: #fff;
  border: none;
  font: 900 1.2em azo-web-sans, sans-serif;
  text-transform: capitalize;
  margin-top: 50px;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.modal {
  background: #fafafa;
  margin: 10% auto 0 auto;
  width: 25%;
  height: 600px;
  border-radius: 8%;
  padding: 2%;
}

.modal form {
  width: 80%;
  margin: 25px auto 0 auto;
}

.modal h3 {
  font: 900 1.4em azo-sans-web, sans-serif;
  margin: 50px 0 10px 50px;
  text-align: left;
  color: #37171D;
}

.modal form input {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.modal input {
  width: 100%;
}


.modal form input[type='submit'] {
  background: #F87C5A;
  width: 100%;
  height: 65px;
  color: #F8F1C7;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 35px;
}


/* .modal input {
   */


.modal p {
  font: 200 0.9em azo-web-sans, sans-serif;
  text-align: center;
  color: #37171D;
  margin-top: 10px;
}

.modal a {
  color: #37171D;
  font: 200 0.9em azo-web-sans, sans-serif;
}

#close {
  font: 100 3em azo-web-sans, sans-serif;
  margin-top: 25px;
  color: #fff;
  text-align: center;
}